# numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.vs

# folders
**/.sass-cache
**/node_modules
**/cache

# wordpress twenty-seventeen-sass folders and files
# maintained in https://github.com/jimfrenette/twentyseventeen-sass
src/sass/base

# wordpress twentyseventeen theme folders and files
# that are not being maintained in this repo
assets
inc
template-parts
404.php
archive.php
comments.php
footer.php
front-page.php
header.php
index.php
page.php
README.txt
rtl.css
screenshot.png
search.php
searchform.php
sidebar.php
single.php
